.clickableElement {
  cursor: pointer;
}

.clickedElement {
  opacity: 0.2;
}

.activeElement {
  border: 5px dotted red;
}

.activeLife {
  color: red;
  margin-left: 10px;
}

.inActiveLife {
  color: lightgray;
  margin-left: 10px;
}

.modalTitle {
  font-size: 50px;
}

.modalButton {
  font-size: 50px;
  cursor: pointer;
}

.modalText {
  font-size: 40px
}
